<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletTest</servlet-name>
        <servlet-class>Controlador.ServletTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServlectActividad</servlet-name>
        <servlet-class>Controlador.ServlectActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServlectAdministrador</servlet-name>
        <servlet-class>Controlador.ServlectAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServlectAsignacionTurnos</servlet-name>
        <servlet-class>Controlador.ServlectAsignacionTurnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServlectBusquedas</servlet-name>
        <servlet-class>Controlador.ServlectBusquedas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServlectEmpresas</servlet-name>
        <servlet-class>Controlador.ServlectEmpresas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServlectLogin</servlet-name>
        <servlet-class>Controlador.ServlectLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServlectRegistro</servlet-name>
        <servlet-class>Controlador.ServlectRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServlectServidoresCategorias</servlet-name>
        <servlet-class>Controlador.ServlectServidoresCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActividadOp</servlet-name>
        <servlet-class>Controlador.ServletActividadOp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInformeSemanal</servlet-name>
        <servlet-class>Controlador.ServletInformeSemanal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInformeMensual</servlet-name>
        <servlet-class>Controlador.ServletInformeMensual</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTest</servlet-name>
        <url-pattern>/ServletTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServlectAdministrador</servlet-name>
        <url-pattern>/ServlectAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServlectAsignacionTurnos</servlet-name>
        <url-pattern>/ServlectAsignacionTurnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServlectBusquedas</servlet-name>
        <url-pattern>/ServlectBusquedas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServlectEmpresas</servlet-name>
        <url-pattern>/ServlectEmpresas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServlectLogin</servlet-name>
        <url-pattern>/ServlectLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServlectRegistro</servlet-name>
        <url-pattern>/ServlectRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServlectActividad</servlet-name>
        <url-pattern>/ServlectActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServlectServidoresCategorias</servlet-name>
        <url-pattern>/ServlectServidoresCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActividadOp</servlet-name>
        <url-pattern>/ServletActividadOp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInformeSemanal</servlet-name>
        <url-pattern>/ServletInformeSemanal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInformeMensual</servlet-name>
        <url-pattern>/ServletInformeMensual</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
